name: Docker Image CI

on:
  push:
    branches: [ "release" ]
  pull_request:
    branches: [ "release" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag crpi-ag6xwz1rcwg0lv4c.cn-hangzhou.personal.cr.aliyuncs.com/zuizhixiao/ticket:$(date +%s)
